* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ddd;
  font-size: 18px;
  font-family: 'Playfair Display', Arial, Helvetica, serif;
  margin: 50px;
}

/* Container */
.container {
  display: grid;
  gap: 10px;
}
/* Header */
.header {
  display: grid;
  grid-template-areas:
    'hero hero feature-1'
    'hero hero feature-2';
}
.hero {
  grid-area: hero;
  min-height: 300px;
  background-image: url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  padding: 50px;
}
.hero > * {
  display: none;
}
.features {
  background-color: wheat;
  color: white;
  display: grid;
  /* justify-content: center;
  align-content: center; */
  place-content: center; /* Shortchat nya */
  text-align: center;
  cursor: pointer;
}
.features-1 {
  grid-area: feature-1;
  background-image: url(img/brand-2.png);
  /* background-size: cover; */
}
.features-2 {
  grid-area: feature-2;
  background-image: url(img/brand-1.png);
  /* background-size: cover; */
}
.features .price {
  font-size: 2.3em;
  font-weight: 200;
}
.features .price,
.features .item {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Navbar */
/* #nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
} */
.menu {
  order: -1;
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: center;
}
.menu .brand {
  font-size: 1.3em;
  color: #333;
}

.menu ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
}
.menu ul li a:hover {
  background-color: white;
  color: black;
  font-weight: 700;
}
.menu a {
  display: block;
  background-color: #222;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
}
/* Menu Toggle */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 25px;
  justify-content: space-between;
  padding-top: 5px;
  position: relative;
  z-index: 10;
}
.menu-toggle input {
  position: absolute;
  left: -6px;
  top: -2px;
  width: 40px;
  height: 28px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}
/* Animasi Toggle */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
/* Services */
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.service {
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.service .icon img {
  height: 200px;
}
.service h4 {
  font-size: 1.4em;
  padding-bottom: 10px;
}
.service p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.7;
}
.service p b {
  font-style: oblique;
  font-size: 0.8;
}
/* Gallery */
.gallery {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.gallery h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  margin-bottom: 20px;
}
.video h2 {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: center;
  margin-bottom: 20px;
}
.frame {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}
.gallery img {
  height: 250px;
}
/* Contanct */
.contact {
  padding: 25px 0;
}
.contact h2 {
  padding-bottom: 25px;
  text-align: center;
}
.contact .comment {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border: 0;
  border-radius: 10px;
}
.contact-satu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}
.contact-satu .alamat {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 1em;
  align-items: center;
}
.contact-satu iframe {
  padding: 20px 0;
}
.contact-satu .sosmed {
  display: flex;
  align-items: center;
}
.contact-satu .alamat a {
  font-size: 2.5em;
  color: white;
  margin-left: 10px;
}
.contact-satu .alamat a:hover {
  color: rgb(0, 0, 0);
}
.contact-satu p b {
  font-style: oblique;
}
.contact input,
textarea {
  display: block;
  margin: auto;
  margin: 10px 0;
}
.contact input[type='email'],
.contact input[type='text'],
textarea {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
}
.contact input[type='submit'] {
  width: 100%;
  margin: 10px auto;
  height: 30px;
  background-color: turquoise;
  border: 0;
  border-radius: 5px;
}
.contact input[type='submit']:hover {
  background-color: white;
  font-weight: bold;
}
/* Footer */
footer {
  text-align: center;
  font-family: 'Playfair Display', Arial, Helvetica, serif;
  font-weight: 200;
}
footer a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
footer a:hover {
  color: white;
}

/* Responsive Breakpoint */
@media screen and (max-width: 1024px) {
  .menu {
    order: inherit;
    grid-template-columns: 1fr;
  }
  .menu .brand {
    display: none;
  }
  .hero > * {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    margin-bottom: 5px;
  }
  .hero img {
    background-color: transparent;
    width: 100px;
  }
  .features-1 {
    background-size: cover;
  }
  .features-2 {
    background-size: cover;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .menu {
    order: -1;
    justify-items: start;
    grid-template-columns: 20fr 1fr;
  }

  .menu-toggle {
    display: flex;
  }
  .menu .brand.brand-q {
    order: -1;
    display: inherit;
  }
  .menu ul {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgba(22, 22, 24, 0.9);
    z-index: 1;
    transform: translateY(-100%);
    transition: all 1s;
    opacity: 0;
  }
  .menu ul.slide {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 600px) {
  body {
    margin: 15px;
  }
  .menu {
    grid-template-columns: 20fr 1fr;
  }
  .hero > * {
    margin: 5px auto;
  }
  .header {
    grid-template-areas:
      'hero'
      'feature-1'
      'feature-2';
  }
  .features-1 {
    background-image: url(img/brand.png);
    background-size: inherit;
  }
  .features-2 {
    background-image: url(img/brand-3.png);
    background-size: inherit;
  }
  .gallery {
    margin-top: 25px;
  }
}
